html {
   height: 100%;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat';

   color: #141204;

   position: relative;
   min-height: 100%;

   background-color: #E6EED6;
   padding-bottom: 100px;
}

ul.topnav {
   background-color: #141;
}

ul.topnav li a.active {
   background-color: rgba(255, 255, 255, .2);
}

ul.topnav li a.brand:hover
{
    background: rgba(0, 0, 0, .3);
}

ul.topnav li a:hover {
   color: #fff;
   background: rgba(0, 0, 0, .3);
}

hr {
   width: 100%;
   height: 0;

   border-color: #141204;
}

.page-content {
   margin-top: 16px;
}

._primary {
   border-color:#15D815!important;
   background-color:#15D815!important;
}

.rs-sidebar * .progressbar {
   vertical-align: middle;
   height: 10px;
   margin-top: 8px;
   margin-bottom: 8px;
}

/* Resume sections */
.resume-block {
   background-color: #FAFFF4;
}

.resume-header {
   background-color: #333;
   padding-top: 16px;
   padding-bottom: 16px;
}

.resume-header * {
   color: #FAFFF4;
}

.resume-title {
   text-align: center;
   margin-bottom: 0px;
}

.resume-subtitle {
   padding: 0px;
   font-weight: bold;
   text-align: center;
}

h4.rs-header:after, h3.rs-header:after {
   content: ' ';
   display: block;
   border: 1px solid rgba(14, 12, 04, .4);
}

.rs-title {
   margin-bottom: 0;
}

.rs-sub .col {
   padding: 0px;
}

.resume-block .rs-sub .col {
   font-size: 1.15em;
   padding-bottom: 10px;
}

ul.rs-list li {
   margin-bottom: 0px;
}

.resume-bg {
   background-color: #DEE0C9;
}

.rs-sidebar {
   padding-top: 20px;
}

.footer {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100px;
   padding: 1rem;
}

/* Print friendliness */
@media print {
   .col.d3 {width:25%; float:left;}
   .col.m6 {width:50%; float:left;}
   .col.d9 {width:75%; float:left;}
}
