{% extends "base.html" %}
{% block content %}
<div class="page-content">
   <div class="page-content">
      <div class="row">
         <h3 class="rs-header">Education</h3>
         <div class="col d8">
            <p>
               I got my bachelor's degree in Computer Science at Cal Poly, San Luis Obispo. In my
               coursework I focused on 3D graphics and video games in addition to core computer
               science concepts, and also completed a minor in music.
            </p>
            <p>
               My schoolwork involved usage of a variety of programming languages, platforms, IDEs, and frameworks.
               I did projects using technologies like OpenGL and parallel computing with CUDA, as well as various game
               development projects with Android and web technologies. I graduated in December 2014 and began looking
               for work outside of San Luis Obispo.
            </p>
         </div>
         <div class="col d4">
            <img class="" src="../static/images/grad_photo.jpg" />
         </div>
      </div>
      <div class="row">
         <h3 class="rs-header">Experience</h3>
         <div class="col d4">
            <img class="" src="../static/images/gree_logo.jpg" />
         </div>
         <div class="col d8">
            <p>
               In early 2015 I accepted a job offer at GREE International, a satellite office of
               Japanese mobile game developer GREE. Over the course of almost three years, I worked on
               four different live games, doing primarily Android and Java development. I learned a
               lot about mobile game design and development, built a personal network of talented and
               friendly people, and played plenty of Smash Bros on lunch breaks.
            </p>
            <p>
               Working at GREE, I worked on a variety of tasks including Android performance optimization,
               build process refactoring, new feature and content development, releasing new builds to app stores,
               updating and improving internal tools, and hunting down and fixing bugs.
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <p>
               While my most recent programming experience is with Java, I've also worked on projects
               in C++, C, JavaScript, and ActionScript.
               More recently, I've been exploring other languages and tools in my free time, including
               Haskell, Python, Kotlin, and C# for Unity.
            </p>
         </div>
      </div>
      <div class="row">
         <h3 class="rs-header">Interests & Goals</h3>
         <div class="col">
            <p>
               I'm currently looking for new work! As an avid gamer, I'm particularly interested
               in a position in, or adjacent to, PC/console game development. However, I'm also
               excited to pursue other opportunities that may expand my programming experience
               in other fields.
            </p>
            <p>
               In my spare time I like to play video games, read comics and books, and go
               bouldering at the local climbing gym. I have a
               <a href="http://www.pauldoyle.space/blog">video game blog</a> where I
               occasionally post post opinions and reviews about games I've played.
            </p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
