{% extends "base.html" %}
{% block content %}
<div class="page-content">
   <div class="jumbo _shadow _dark">
      <h1>Paul Doyle</h1>
      <h4><div id="byline">Software Engineer</div></h4>
   </div>
   <div class="page-content">
      <div class="row">
         <div class="col d4">
            <img class="" src="../static/images/paul_doyle.jpg" />
         </div>
         <div class="col d8">
            <p>
               I'm a Cal Poly, San Luis Obispo graduate with a degree in Computer Science and a
               few years of professional mobile game development experience. Until recently, I've
               been working as a Java and Android developer for GREE International Entertainment, Inc.
            </p>
            <p>
               As of now, I'm looking for new work! I'm most intrested in PC and console game
               development, but I'm also excited to explore other opportunities that could expand
               my programming experience in other fields.
            </p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
