{% extends "base.html" %}
{% block content %}
   <div class="resume-block">
      <div class="resume-header page-content">
         <h1 class="resume-title">Paul Doyle</h1>
         <div class="row resume-subtitle">Software Developer</div>
      </div>

      <div class="row">
         <div class="col m8">
            <h3 class="rs-header">Work Experience</h3>
            <h5 class="rs-title">GREE International, Inc.</h5>
            <div class="row rs-sub">
               <div class="col m6">Software Engineer</div>
               <div class="col m6">February 2015 - Present</div>
            </div>
            <ul class="rs-list">
               <li>Feature development, bug fixing, and refactoring for live mobile games</li>
               <li>Android memory and performance profiling and optimization</li>
               <li>Full stack cross-platform Java development using libgdx game engine</li>
               <li>Gradle build configuration and game server deployment scripting</li>
            </ul>

            <h5 class="rs-title">Tapestry Solutions</h5>
            <div class="row rs-sub">
               <div class="col m6">Part-Time Software Engineer</div>
               <div class="col m6">June 2014 – February 2015</div>
            </div>
            <ul class="rs-list">
               <li>Adobe Flex GUI development for planning and logistics software</li>
               <li>Refactor existing code base while fixing bugs and implementing new features</li>
            </ul>

            <h5 class="rs-title">Hewlett-Packard</h5>
            <div class="row rs-sub">
               <div class="col m6">Software Engineering Intern</div>
               <div class="col m6">June – September 2013</div>
            </div>
            <ul class="rs-list">
               <li>Port Unix testing software for printer network cards to C++ in Windows</li>
               <li>Communicate with international teams to resolve technical questions</li>
            </ul>

            <h5 class="rs-title">Amazon SLO</h5>
            <div class="row rs-sub">
               <div class="col m6">Junior Software Developer</div>
               <div class="col m6">June 2012 – May 2013</div>
            </div>
            <ul class="rs-list">
               <li>Website maintenance and contributions to feature development</li>
               <li>Work with customer support and other Amazon teams to solve issues</li>
            </ul>

            <h3 class="rs-header">Technical Projects</h3>
            <h5 class="rs-title">Personal Picture Index</h5>
            <div class="row rs-sub">
               <div class="col m6">Android Application</div>
               <div class="col m6">December 2013 - January 2014</div>
            </div>
            <ul class="rs-list">
               <li>Built a customizable picture dictionary application for the speech-impaired</li>
               <li>Interfaced with Android services like text-to-speech and camera interaction</li>
            </ul>

            <h5 class="rs-title">Penguin Puzzler</h5>
            <div class="row rs-sub">
               <div class="col m6">Android Application</div>
               <div class="col m6">October – December 2013</div>
            </div>
            <ul class="rs-list">
               <li>Wrote a puzzle game for Android with a small multi-disciplinary team</li>
               <li>Learned concepts and design considerations for Android OS</li>
            </ul>

            <h5 class="rs-title">CUDA Ray Tracer</h5>
            <div class="row rs-sub">
               <div class="col m6">Linux Desktop App</div>
               <div class="col m6">March – June 2013</div>
            </div>
            <ul class="rs-list">
               <li>Built a ray tracer in C++ using GPU parallelism using NVidia CUDA programming platform</li>
               <li>Implemented shadows, reflections, refraction, anti-aliasing, and Monte Carlo path tracing</li>
            </ul>
         </div>
         <div class="col m4 rs-sidebar">
            <h3 class="rs-header">Personal Info</h3>
            <p><strong>Location: </strong>San Francisco Bay Area<br />
               <strong>Email: </strong>pauldoyle22@gmail.com</p>
            <h3 class="rs-header">Education</h3>
            <h5 class="rs-title">Cal Poly, San Luis Obispo</h5>
            <p>Computer Science Major, Music Minor</p>
            <h3 class="rs-header">Languages</h3>
            <table style="width:100%">
                  <tr>
                     <th style="text-align:left;">Language</th>
                     <th style="text-align:left;">Proficiency</th>
                  </tr>
                  <tr>
                     <td>Java</td>
                     <td>X X X X _</td>
                  </tr>
                  <tr>
                     <td>Bash</td>
                     <td>X X X _ _</td>
                  </tr>
                  <tr>
                     <td>Ruby</td>
                     <td>X _ _ _ _</td>
                  </tr>
                  <tr>
                     <td>ActionScript 3</td>
                     <td>X X _ _ _</td>
                  </tr>
                  <tr>
                     <td>JavaScript</td>
                     <td>X X _ _ _</td>
                  </tr>
                  <tr>
                     <td>C</td>
                     <td>X X _ _ _</td>
                  </tr>
                  <tr>
                     <td>C++</td>
                     <td>X X _ _ _</td>
                  </tr>
                  <tr>
                     <td>Kotlin</td>
                     <td>X X _ _ _</td>
                  </tr>
                  <tr>
                     <td>Python</td>
                     <td>X _ _ _ _</td>
                  </tr>
                  <tr>
                     <td>Haskell</td>
                     <td>X _ _ _ _</td>
                  </tr>
               </table>
         </div>
      </div>

      <h4>Hobbies and Interests</h4>
      <ul class="rs-list">
         <li>Video games journalism and game design, computer graphics, mobile development</li>
         <li>Japanese animation and video games (currently learning Japanese)</li>
      </ul>
   </div>
{% endblock %}
