{% extends "base.html.j2" %}
{% block content %}
   <h1>Paul Doyle</h1>
   <p><b>Email:</b> pauldoyle22@gmail.com<br />
      <b>Website:</b> www.paulalexanderdoyle.com</p>
   <hr />
   <h1>Work Experience</h1>
   <h2>GREE International, Inc.: Software Engineer</h2>
   <em>February 2015 - Present</em>
   <ul>
      <li>
         Feature development, bug fixing, refactoring, and tech debt management for live mobile games
      </li>
      <li>
         Android memory and performance profiling and optimization
      </li>
      <li>
         Full stack cross-platform Java development using libgdx game engine
      </li>
      <li>
         Gradle build configuration and game server deployment scripting
      </li>
   </ul>
   <h2>Tapestry Solutions: Part-Time Software Engineer</h2>
   <em>June 2014 – February 2015</em>
   <ul>
      <li>
         Adobe Flex GUI development for planning and logistics software used by the government
      </li>
      <li>
         Refactor and improve existing code base while fixing bugs and implementing new features
      </li>
   </ul>
   <h2>Hewlett-Packard: Software Engineering Intern</h2>
   <em>June – September 2013</em>
   <ul>
      <li>
         Port printer network card testing software from Unix C environment to C++ in Windows
      </li>
      <li>
         Communicate with international teams to determine needs and resolve technical questions
      </li>
   </ul>
   <h2>Amazon SLO: Junior Software Developer</h2>
   <em>June 2012 – May 2013</em>
   <ul>
      <li>
         Website maintenance and contributions to feature development
      </li>
      <li>
         Interactions with customer support and other Amazon teams to diagnose and solve problems
      </li>
   </ul>
   <h1>Technical Projects</h1>
   <h2>Android Application Development: Personal Picture Index<br />
      <span><em>December 2013 - January 2014</em></span>
   </h2>
   <ul>
      <li>
         Built a customizable picture dictionary application for assistance for the speech-impaired
      </li>
      <li>
         Interfaced with Android services like text-to-speech, camera interaction, and SQLite databases
      </li>
   </ul>
   <h2>Android Application Development: Penguin Puzzler<br />
      <span><em>October – December 2013</em></span>
   </h2>
   <ul>
      <li>
         Worked with a small multi-disciplinary team to produce a puzzle game for Android in 6 weeks
      </li>
      <li>
         Learned concepts and design considerations for Android OS and
      </li>
      <li>
         Crafted game mechanics and 16 levels that teach players skills through the puzzles’ structure
      </li>
   </ul>
   <h2>Advanced Rendering Techniques: Ray Tracer<br />
      <span><em>March – June 2013</em></span>
   </h2>
   <ul>
      <li>
         Built a ray tracer in C++ using GPU parallelism on NVidia’s CUDA programming platform
      </li>
      <li>
         Implemented shadows, reflections, refraction, anti-aliasing, and Monte Carlo path tracing
      </li>
   </ul>
   <h1>Education</h1>
   <h2>California Polytechnic State University, San Luis Obispo</h2>
   <ul>
      <li>
         <p>Computer Science Major, Music Minor<br />
            <i>December 2014</i>
         </p>
      </li>
   </ul>
   <h1>Skills and Interests</h1>
   <h2>Programming Languages</h2>
   <ul>
      <table style="width:100%">
         <tr>
            <th style="text-align:left">Language</th>
            <th style="text-align:left">Used For</th>
            <th style="text-align:left">Last Used</th>
            <th style="text-align:left">Mastery</th>
         </tr>
         <tr>
            <td>Java</td>
            <td>Work (GREE)</td>
            <td>2017</td>
            <td>X X X X _</td>
         </tr>
         <tr>
            <td>Bash</td>
            <td>Work (GREE)</td>
            <td>2017</td>
            <td>X X X _ _</td>
         </tr>
         <tr>
            <td>Ruby</td>
            <td>Work (GREE)</td>
            <td>2017</td>
            <td>X _ _ _ _</td>
         </tr>
         <tr>
            <td>ActionScript 3</td>
            <td>Work (Tapestry)</td>
            <td>2014</td>
            <td>X X _ _ _</td>
         </tr>
         <tr>
            <td>JavaScript</td>
            <td>School, Game jams</td>
            <td>2014</td>
            <td>X X _ _ _</td>
         </tr>
         <tr>
            <td>C</td>
            <td>School</td>
            <td>2013</td>
            <td>X X _ _ _</td>
         </tr>
         <tr>
            <td>C++</td>
            <td>School</td>
            <td>2014</td>
            <td>X X _ _ _</td>
         </tr>
         <tr>
            <td>Kotlin</td>
            <td>For fun!</td>
            <td>2017</td>
            <td>X X _ _ _</td>
         </tr>
         <tr>
            <td>Python</td>
            <td>For fun!</td>
            <td>2017</td>
            <td>X _ _ _ _</td>
         </tr>
         <tr>
            <td>Haskell</td>
            <td>For fun!</td>
            <td>2017</td>
            <td>X _ _ _ _</td>
         </tr>
      </table>
   </ul>
   <h2>Hobbies and Interests</h2>
   <ul>
      <li>
         Video games journalism and game design, computer graphics, mobile development
      </li>
      <li>
         Japanese animation and video games (currently learning Japanese)
      </li>
   </ul>
{% endblock %}
