{% extends "base.html" %}
{% macro resume_section_header(title, description, dates) -%}
   <h5 class="rs-title">{{ title }}</h5>
   <div class="row rs-sub">
      <div class="col m6">{{ description }}</div>
      <div class="col m6">{{ dates }}</div>
   </div>
{%- endmacro %}
{% macro resume_skill(skill_name, proficiency=0) -%}
   <div class="row rs-sub">
      <div class="col m6">{{ skill_name }}</div>
      <div class="col m6">
         <div class="progressbar _round _dark">
            <div class="-bar _primary _round" style="width: {{ proficiency }}%;"></div>
         </div>
      </div>
   </div>
{%- endmacro %}
{% block content %}
      <div class="resume-header">
         <h1 class="resume-title">Paul Doyle</h1>
         <div class="row resume-subtitle">Software Developer</div>
      </div>

      <div class="row">
         <div class="col d3">
            <h3 class="rs-header">Experience</h3>
         </div>
         <div class="col d9">
            {{ resume_section_header('GREE International, Inc.', 'Software Engineer', 'February 2015 - Present') }}
            <ul class="rs-list">
               <li>Built features, fixed bugs, contributed to refactors and tech debt resolution</li>
               <li>Profiled and optimized memory management and performance for Android games</li>
               <li>Worked on full-stack cross-platform Java development using libgdx game engine</li>
               <li>Wrote and refactored Gradle configuration and game server deployment scripts</li>
            </ul>

            {{ resume_section_header('Tapestry Solutions',  'Part-Time Software Engineer', 'June 2014 – February 2015') }}
            <ul class="rs-list">
               <li>Expanded and improved Adobe Flex GUI for planning and logistics software</li>
               <li>Refactored existing code base while fixing bugs and implementing new features</li>
            </ul>

            {{ resume_section_header('Hewlett-Packard',  'Software Engineering Intern', 'June – September 2013') }}
            <ul class="rs-list">
               <li>Ported Unix testing software for printer network cards to C++ in Windows environment</li>
               <li>Communicated with international teams to determine needs, resolve technical questions</li>
            </ul>

            {{ resume_section_header('Amazon SLO',  'Junior Software Developer', 'June 2012 – May 2013') }}
            <ul class="rs-list">
               <li>Fixed bugs for website maintenance and contributed to feature development</li>
               <li>Worked with customer support and other Amazon teams to solve issues more effectively</li>
            </ul>
         </div>

         <div class="row">
            <div class="col d3">
               <h3 class="rs-header">Projects</h3>
            </div>
            <div class="col d9">
               {{ resume_section_header('Reminders App',  'Android Application', 'August 2017') }}
               <ul class="rs-list">
                  <li>Built a to-do list app that tracks tasks and sends periodic reminder notifications</li>
                  <li>Wrote in Kotlin and learned some basics of the language and its unique features</li>
               </ul>

               {{ resume_section_header('Personal Picture Index',  'Android Application', 'December 2013 - January 2014') }}
               <ul class="rs-list">
                  <li>Built a customizable picture dictionary application for the speech-impaired</li>
                  <li>Interfaced with Android services like text-to-speech and camera interaction</li>
               </ul>

               {{ resume_section_header('Penguin Puzzler',  'Android Application', 'October – December 2013') }}
               <ul class="rs-list">
                  <li>Wrote a puzzle game for Android with a small multi-disciplinary team</li>
                  <li>Learned concepts and design considerations for Android OS</li>
               </ul>

               {{ resume_section_header('CUDA Ray Tracer',  'Linux Desktop App', 'March – June 2013') }}
               <ul class="rs-list">
                  <li>Built a ray tracer in C++ with GPU parallelism using NVidia's CUDA platform</li>
                  <li>Implemented shadows, reflections, refraction, and Monte Carlo path tracing</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col d3">
            <h3 class="rs-header">Skills</h3>
         </div>
         <div class="col d4">
            <h4>Languages</h4>
            {{ resume_skill('Java', 100) }}
            {{ resume_skill('Kotlin', 66) }}
            {{ resume_skill('C/C++', 66) }}
            {{ resume_skill('C#', 33) }}
            {{ resume_skill('Python', 33) }}
            {{ resume_skill('Haskell', 33) }}
         </div>
         <div class="col d4">
            <h4>Tools and Tech</h4>
            {{ resume_skill('Git SCM', 100) }}
            {{ resume_skill('Android Dev', 100) }}
            {{ resume_skill('AWS', 66) }}
            {{ resume_skill('Perforce', 33) }}
            {{ resume_skill('Bash', 33) }}
            {{ resume_skill('Unity', 33) }}
         </div>
      </div>
   </div>
{% endblock %}
